<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diets">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".activitys.DietsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Actividades existentes -->
        <activity
            android:name=".activitys.DinnerActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MealActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BreakFastActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activitys.UserFormActivity"
            android:exported="true" />
        <activity
            android:name=".activitys.DashboardActivity"
            android:exported="true" />

        <!-- Nueva actividad para el administrador -->
        <activity
            android:name=".activitys.AdminActivity"
            android:exported="true" />
        <activity android:name=".activitys.UserListActivity" />
        <activity android:name=".activitys.UserDetailsActivity" android:exported="true" />
        <activity android:name=".activitys.RegisterUserByAdminActivity" android:exported="true" />
        <activity
            android:name=".activitys.EditUserActivity"
            android:exported="true"
            android:label="Editar Usuario" />
        <activity android:name=".activitys.WeightActivity" />
        <activity android:name=".activitys.VideoActivity" />

    </application>

</manifest>
